{% load l10n %}
<div class="col-md-4 project-col">
    <div class="project-card">
        <div class="project-card__thumbnail">
            {% if project.cover_image %}
                <a href="{% url 'view_project' project.id %}" class="project-card__cover-image" style="background-image: url('{{ project.cover_image.url }}')"></a>
            {% endif %}
        </div>

        <div class="project-card__content">
            <a class="project-card__title" href="{% url 'view_project' project.id %}">{{ project.title }}</a>
            <p class="project-card__created-by">{{ project.created_by }}</p>
            <p class="project-card__blurb">{{ project.description }}</p>
        </div>

        <div class="project-card__footer">
            <div class="project-card__location">
                Location TBI
            </div>
            <div class="project-card__progress-bar">
                <div class="project-card__progress" style="width: {{ project.percentage_funded|floatformat:"2" }}%;"></div>
            </div>

            <ul class="project-card__stats">
                <li>
                    <div class="project-card__stats-value">{{ project.percentage_funded|floatformat:"0" }}%</div>
                    <span class="project-card__stats-label">funded</span>
                </li>
                <li>
                    <div class="project-card__stats-value">{{ project.get_currency_display }}{% localize on %}{{ project.total_pledged_amount|floatformat:"0" }}{% endlocalize %}</div>
                    <span class="project-card__stats-label">pledged</span>
                </li>
                <li>
                    <div class="project-card__stats-value">TBI</div>
                    <span class="project-card__stats-label">days to go</span>
                </li>
            </ul>
        </div>
    </div>
</div>