{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    {% endblock %}
    <title>{% block title %}Kickfarter{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Kickfarter</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'discover' %}">Discover</a></li>
                        <li><a href="{% url 'start_project' %}">Start a project</a></li>
                    </ul>
                    {% if not user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'login' %}">Log in</a></li>
                            <li><a href="{% url 'signup' %}"><strong>Sign up</strong></a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="navbar-text">{{user.email }}</span></li>
                            <li><a href="{% url 'logout' %}">(logout)</a></li>
                        </ul>
                    {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block scripts %}
        <script src="{% static 'app/js/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    {% endblock %}
</body>
</html>